# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/
pytest-debug.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.env.*
*.env
*.env.*

# IDEs / Editors
.vscode/
.idea/
*.swp
*~
*.sublime-workspace
*.sublime-project

# Logs and databases
*.log
*.sqlite3

# Docker
*.pid
*.bak
docker-compose.override.yml

# Local files
.DS_Store
*.local
*.log

# FastAPI-specific
*.db
/static/
*.mypy_cache/
*.pylint.d/

# Gunicorn logs
*.access.log
*.error.log

# Nginx temp files
nginx-temp/
